.badges-container {
    margin-top: 1rem;
    .detail-badge {
        margin-right: 0.2rem;
    }
}

.detail-card {
    margin-bottom: 1rem;
    .bottom-margin {
        margin-bottom: 1.5rem;
    }
}